# Lacture - 2

# Variables & Data Types in Python

# Creating Variables

In [8]:
x = 5
print(x)

5

In [10]:
a = 10;
b = 2.5;
c = "yash"
print(a, b, c);

10 2.5 yash

In [12]:
y = " we are learning python ";
print(y)

 we are learning python

In [16]:
%whos

Variable               Type        Data/Info
--------------------------------------------
a                      int         10
b                      float       2.5
c                      str         yash
dataframe_columns      function    <function dataframe_colum<...>ns at 0x000000000ACFBEC0>
dataframe_hash         function    <function dataframe_hash at 0x0000000007683A60>
dtypes_str             function    <function dtypes_str at 0x000000000ACFBD80>
get_dataframes         function    <function get_dataframes at 0x000000000ACFBF60>
getpass                module      <module 'getpass' from 'C<...>conda3\\Lib\\getpass.py'>
hashlib                module      <module 'hashlib' from 'C<...>conda3\\Lib\\hashlib.py'>
import_pandas_safely   function    <function import_pandas_s<...>ly at 0x00000000076F8360>
is_data_frame          function    <function is_data_frame at 0x0000000007683880>
json                   module      <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
x                      int         5
y                      str          we are learning python

In [ ]:
# Rules for python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric character and underscore (A-z, 0-9, and _)
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords

## A variable name must start with a letter or the underscore character

In [19]:
apple = 23
print(apple)

23

In [23]:
apple_box = 2.3
print(apple_box)

2.3

In [25]:
_ = 5
print(_)

5

In [27]:
_Z = 6.3
print(_Z)

6.3

In [29]:
mnp_ = 2
print(mnp_)

2

## A variable name cannot start with a number

In [32]:
1 = 23
print(1)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2060739776.py, line 1)

In [34]:
1 == 23
print(1)

1

In [36]:
print(1 == 23)

False

In [38]:
1_apple = 23
print(1_apple)

SyntaxError: invalid decimal literal (2487001326.py, line 1)

In [40]:
apple_1 = 25
print(apple_1)

25

## A variable name can only contain alpha-numeric character and underscore (A-z, 0-9, and _)

In [43]:
abc123nmp = 23
print(abc123nmp)

23

In [45]:
abc456464562131 = 1
print(abc456464562131)

1

In [47]:
&$@ = 23
print(&$@)

SyntaxError: invalid syntax (2403893984.py, line 1)

In [49]:
_ = 5
print(_)

5

## Variable names are case-sensitive (age, Age and AGE are three different variables)

In [54]:
age = 23
AGE = 25
Age = 29
print(age)
print(AGE)
print(Age)

23
25
29

## Data Types in Python

In [61]:
a = 2
b = 5.5
c = "Yash"
print(a)
print(type(a))
print(b)
print(type(b))

2
<class 'int'>
5.5
<class 'float'>

In [63]:
v = 2+3j
print(v)
print(type(v))

(2+3j)
<class 'complex'>

In [65]:
num = [23,24,25,26]
print(num)
print(type(num))

[23, 24, 25, 26]
<class 'list'>

In [67]:
num1 = True
print(type(num1))

<class 'bool'>

In [69]:
num2 = False
print(type(num2))

<class 'bool'>

## A variable name cannot be any of the Python keywords

In [72]:
print = 14
print(print)

TypeError: 'int' object is not callable

In [75]:
int = 15
print(int)

TypeError: 'int' object is not callable