# Lacture 4

# Arithmetic Operator

# Addition

In [4]:
a = 1
b = 2
print(a+b)

3

In [6]:
x = 1.5
y = 2.3
print(x+y)

3.8

In [10]:
a1 = "hello"
b1 = "students"
print(a1+" "+b1)

hello students

In [12]:
x1 = 2+3j
y1 = 1+5j
print(x1+y1)

(3+8j)

In [14]:
w1 = -6
w2 = 3
print(w1+w2)

-3

# Substraction operator

In [17]:
num1 = 8
num2 = 4
print(num1-num2)

4

In [19]:
a4 = 5.67
b4 = 2.34
print(a4-b4)

3.33

In [21]:
a5 = "Hello"
a6 = "students"
print(a5-a6)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [23]:
a6 = 5+9j
b6 = 3+5j
print(a6-b6)

(2+4j)

# Multiplication

In [26]:
n = 3
b = 5
print(n*b)

15

In [30]:
n1 = 3.56
b1 = 5.45
print(n1*b1)

19.402

In [32]:
str="hello"
print(str*5)

hellohellohellohellohello

In [34]:
str1="hello"
str2="world"
print(str1*str2)

TypeError: can't multiply sequence by non-int of type 'str'

In [36]:
a1 = 2+3j
b1 = 3+4j
print(a1*b1)

(-6+17j)

In [38]:
a = 15
b = 3
print(a/b)

5.0

In [40]:
a1 = 512484.45644646
b1 = 12.12454
print(a1/b1)

42268.36287780485

In [42]:
com1 = 2+3j
com2 = 1+2j
print(com1/com2)

(1.6-0.2j)

In [44]:
str1="hello"
str2="world"
print(str1/str2)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# Modulous

In [47]:
print(12%3)

0

In [49]:
print(19%5)

4

In [51]:
a1 = 45.465
b1 = 12.45
print(a1%b1)

8.115000000000006

In [53]:
a2 = 5+3j
b1 = 3
print(a2%b1)

TypeError: unsupported operand type(s) for %: 'complex' and 'int'

In [55]:
x2 = 5+3j
y1 = 3+2j
print(x2%y1)

TypeError: unsupported operand type(s) for %: 'complex' and 'complex'

In [57]:
print(21//3)

7

In [59]:
print(456456//45)

10143

In [61]:
pritn(5.23%2)

NameError: name 'pritn' is not defined

In [63]:
print(5.23%2)

1.2300000000000004

# Exponent

In [66]:
a=3
b=2
print(a**b)

9

In [68]:
print(465456464**3)

100841012541648255456825344

In [70]:
w = 60
h = 5
v = h**2
print(w/v)

2.4

# Boolean Operator

In [73]:
a = True
print(type(a))

<class 'bool'>

In [75]:
a1 = False
print(type(a1))

<class 'bool'>

# Comparison Operator

In [ ]:
In Python, comparison operators are used to compare values. These operators return True or False based
on whether the comparison is true or false

# Equal to ==

In [81]:
x = 5
y = 5
print(x==y)

True

In [83]:
x = 5
y = 6
print(x==y)

False

# not equal !=

In [86]:
x = 5
y = 3
print(x!=y)

True

In [88]:
x = 5
y = 5
print(x!=y)

False

# grater than >

In [91]:
x = 5
y = 3
print(x>y)

True

In [93]:
x = 5
y = 13
print(x>y)

False

# less than <

In [96]:
x = 5
y = 3
print(x<y)

False

In [98]:
x = 5
y = 13
print(x<y)

True

# grater than or equal to >=

In [103]:
x = 5
y = 5
print(x>=y)

True

# less than or equal to <=

In [106]:
x = 5
y = 5
print(x<=y)

True

# Logical operator

In [109]:
x = True
y = False
print(x and y)

False

In [111]:
x = True
y = False
print(x or y)

True

In [113]:
x = True
print(not x)

False

# Practice Questions

## Question 1
You have a data containing two record: "Quantity" and "Price per Unit". How would you use arithmetic
operators to calculate the total cost for each item, also calculate the total cost? product 1,
Quantity -5, Price per Unit - Rs 250 product 2, Quantity - 25, Price per Unit - Rs 656 product 3,
Quantity - 34, Price per Unit - Rs 274

In [131]:
product_1 = 250*5
product_2 = 25*656
product_3 = 34*274
print("The price of product1 is", product_1)
print("The price of product2 is", product_2)
print("The price of product3 is", product_3)
print("The total price customer need to pay is ", product_1 + product_2 + product_3)

The price of product1 is 1250
The price of product2 is 16400
The price of product3 is 9316
The total price customer need to pay is  26966

## Question 2
In a finance-based organization, the task is to calculate the simple interest given the principal
amount, interest rate, and time period. The interest rate is 8%, the principal amount is RS 15,00,000,
and the time period is 3 years. Calculate the simple interest. Also, the threshold amount is RS
1,20,000. Please check if the calculated interest is greater or less than the threshold amount.

In [150]:
P = 1500000
R = 8
T = 3
threshold = 120000
SI = (P*R*T)/100
print("The simple interest is ", SI)
comp = SI>threshold
print(comp)
print("The value of simple interest is grater than threshold")

The simple interest is  360000.0
True
The value of simple interest is grater than threshold

## Question 3
Write a Python to calculate the area of circle with a radius of 12cm.

In [153]:
PI = 3.14
area = 12
print("The area of circle is :", PI*area*area)

The area of circle is : 452.15999999999997